.footer {
  position: sticky;
  width: 100%;
  top: 98vh;
  margin-top: 15px;
}

.footer-text {
  border-top: 1px solid #aaa;
  color: #aaa;
  text-align: center;
}

.footer-text a {
  color: #aaa;
}
