<h4>Details</h4>
<hr class="hhr">

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group btn-group-toggle recipe-list-head" data-toggle="buttons">
      <button type="button" class="btn btn-success">Add to Shopping list</button>
      <button type="button" class="btn btn-danger">Remove from Shopping list</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h5>Recipe Name</h5>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit recusandae ex voluptates, quisquam consectetur reiciendis perferendis similique eaque saepe qui expedita ab. Obcaecati exercitationem sit, consequatur amet hic quos maxime!</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Ingredients Lorem ipsum dolor sit amet consectetur adipisicing elit. Et hic dignissimos, asperiores nisi similique, modi perspiciatis tempora neque provident, vitae excepturi velit ipsam fugiat. Vero dolore rerum neque corrupti eveniet?</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <img src="" alt="" class="img-responsive">
  </div>
</div>
