<h4>Details</h4>
<hr class="hhr">

<div class="row">
  <div class="col-xs-12">
    <h5>{{ recipe.name }}</h5>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Created on: {{ recipe.date | date : 'dd.MM.yyyy.' }} by {{ recipe.owner }}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>{{ recipe.desc }}</p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" [alt]="recipe.imagePath" class="img-responsive">
    <br>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group btn-group-toggle recipe-list-head" data-toggle="buttons">
      <button type="button" class="btn btn-success" (click)="onAddToShoppingList()">Add to Shopping list</button>
      <button type="button" class="btn btn-danger">Remove from Shopping list</button>
    </div>
  </div>
</div>
<br>
