<div class="row">
  <div class="col-xs-12">
    <h4>The Shopping List</h4>
    <hr class="hhr">
    <div class="row">
      <div class="col-xs-12">
        <app-shopping-edit></app-shopping-edit>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <a class="list-group-item" style="cursor: pointer;"
          *ngFor="let ingridient of (ingredients | async).ingredients; let i = index;"
          (click)="onEditItem(i)">
            {{ ingridient.name }} ({{ ingridient.amount }})
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul>
      <li style="color:red; font-weight: bold;">Ne radi delete kako treba (NgRx)</li>
    </ul>
  </div>
</div>
