<h4>Recipes List</h4>
<hr class="hhr">

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group btn-group-toggle recipe-list-head" data-toggle="buttons">
      <button type="button" class="btn btn-success">New Recipe</button>
      <button type="button" class="btn btn-warning">Edit Recipe</button>
      <button type="button" class="btn btn-danger">Delete Recipe</button>
    </div>
  </div>
</div>
<table class="table table-style">
  <thead>
    <tr class="table-header-style">
      <th>#</th>
      <th>Recipe name</th>
      <th>Created</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-row-style" app-recipe-item *ngFor="let r of recipes; let i = index" [recipe]="r" [i]="i"></tr>
  </tbody>
</table>






