<h4>Recipes List</h4>
<hr class="hhr">

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group btn-group-toggle recipe-list-head" data-toggle="buttons">
      <button type="button" class="btn btn-success" (click)="onNewRecipe()">New Recipe</button>
      <button type="button" class="btn btn-warning" [disabled]="onSelectedEnable()" (click)="onEditRecipe()">Edit Recipe</button>
      <button type="button" class="btn btn-danger" [disabled]="onSelectedEnable()" (click)="onDeleteRecipe()">Delete Recipe</button>
    </div>
  </div>
</div>
<table class="table table-style">
  <thead>
    <tr class="table-header-style">
      <th>#</th>
      <th>Recipe name</th>
      <th>Created</th>
      <th>Owner</th>
    </tr>
  </thead>
  <tbody>
    <!-- [i]="i+1" changed from [i]="i" for table index number, but url params stil from zero -->
    <tr class="table-row-style" app-recipe-item *ngFor="let r of recipes; let i = index" [recipe]="r" [i]="i+1" [routerLink]="[i]" routerLinkActive="row-active" (click)="onSelectRecipe(i)"></tr>
  </tbody>
</table>






