

<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(ingredientForm)" #ingredientForm="ngForm">
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" class="form-control" ngModel required>
        </div>
        <div class="col-sm-2">
          <label for="amount">Amount</label>
          <input type="number" name="amount" id="amount" class="form-control" ngModel required pattern="^[1-9]+[0-9]*$">
        </div>
        <div class="col-sm-6">
          <label for="actions">Action</label><br>
          <div class="btn-group btn-group-toggle recipe-list-head" data-toggle="buttons" id="actions">
            <button type="submit" class="btn btn-success" [disabled]="!ingredientForm.valid">{{ edditMode ? 'Update Item' : 'Add Item' }}</button>
            <button type="button" class="btn btn-warning" (click)="onClearItem()">Clear </button>
            <button type="button" class="btn btn-danger" (click)="onRemoveItem()" [disabled]="!edditMode">Remove item</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
