

<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for="name">Name</label>
          <input type="text" name="" id="name" class="form-control">
        </div>
        <div class="col-sm-2">
          <label for="amount">Amount</label>
          <input type="number" name="" id="amount" class="form-control">
        </div>
        <div class="col-sm-6">
          <label for="actions">Action</label><br>
          <div class="btn-group btn-group-toggle recipe-list-head" data-toggle="buttons" id="actions">
            <button type="submit" class="btn btn-success">Add item</button>
            <button type="button" class="btn btn-warning">Clear </button>
            <button type="button" class="btn btn-danger">Remove item</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
